.topbar {
  position: fixed;
  left: 50%;
  top: 3%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 100;
}

.topbar-menu {
  position: fixed;
  left: 10%;
  top: 25%;
  z-index: 101;
}

.menu-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}