@import './styles/base.css';
@import './styles/splashScreen.css';
@import './styles/topbar.css';
@import './styles/navbar.css';
@import './styles/teams.css';
@import './styles/tierlist.css';
@import './styles/modal.css';
@import './styles/menu.css';
@import './styles/detailsPage.css';
@import './styles/pwaInstall.css';
@import './styles/tiles.css';
@import './styles/matchesPage.css';
